<!-- native doc: metadata native-* -->
{{- if eq .Section "archive" -}}
    {{- partial "main/head/metadata/archive.html" . -}}
{{- else if eq .Section "article" -}}
    {{- partial "main/head/metadata/article.html" . -}}
{{- else if eq .Section "book" -}}
    {{- partial "main/head/metadata/book.html" . -}}
{{- else if eq .Section "course" -}}
    {{- partial "main/head/metadata/course.html" . -}}
{{- else if eq .Section "dataset" -}}
    {{- partial "main/head/metadata/dataset.html" . -}}
{{- else if eq .Section "docs" -}}
    {{- partial "main/head/metadata/docs.html" . -}}
{{- else if eq .Section "movie" -}}
    {{- partial "main/head/movies/movie.html" . -}}
{{- else if eq .Section "music" -}}
    {{- partial "main/head/music/music.html" . -}}
{{- else if eq .Section "photo" -}}
    {{- partial "main/head/metadata/photo.html" . -}}
{{- else if eq .Section "podcast" -}}
    {{- partial "main/head/metadata/podcast.html" . -}}
{{- else if eq .Section "slide" -}}
    {{- partial "main/head/metadata/slide.html" . -}}
{{- else if eq .Section "tools" -}}
    {{- partial "main/head/metadata/tool.html" . -}}
{{- else -}}
    {{- partial "main/head/metadata/default.html" . -}}
{{- end -}}