
<!-- modules : schema --->
{{- if eq .Section "archive" -}}
    {{- partial "main/head/schema/module/archive.html" . -}}
{{- else if eq .Section "article" -}}
    {{- partial "main/head/schema/module/article.html" . -}}
{{- else if eq .Section "book" -}}
    {{- partial "main/head/schema/module/book.html" . -}}
{{- else if eq .Section "course" -}}
    {{- partial "main/head/schema/module/course.html" . -}}
{{- else if eq .Section "dataset" -}}
    {{- partial "main/head/schema/module/dataset.html" . -}}
{{- else if eq .Section "docs" -}}
    {{- partial "main/head/schema/module/docs.html" . -}}
{{- else if eq .Section "movie" -}}
    {{- partial "main/head/movies/module/movie.html" . -}}
{{- else if eq .Section "music" -}}
    {{- partial "main/head/music/module/music.html" . -}}
{{- else if eq .Section "photo" -}}
    {{- partial "main/head/schema/module/photo.html" . -}}
{{- else if eq .Section "podcast" -}}
    {{- partial "main/head/schema/module/podcast.html" . -}}
{{- else if eq .Section "slide" -}}
    {{- partial "main/head/schema/module/slide.html" . -}}
{{- else if eq .Section "tools" -}}
    {{- partial "main/head/schema/module/tool.html" . -}}
{{- end -}}
<!-- pages : schema-* -->
{{- if .Site.BaseURL -}}
    {{- partial "main/head/schema/page/frontpage.html" . -}}
{{- else -}}
    {{- partial "main/head/schema/default.html" . -}}
{{- end -}}
