/* 1 WELCOME */
/* 2 SERVICES */

#frontpage #nav-header{
    height: 20vh;
    animation: fromtop .5s;
    border-bottom: 0px solid transparent;
}



@keyframes fromtop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#frontpage.dark #nav-header {
    background-color: transparent;
}


#frontpage.nav-sticky #nav-header,
#frontpage.nav--open #nav-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 60px;
    top: 0;
    animation: mininav .25s;
}

@keyframes mininav {
    0% {
        top: -50px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

#frontpage.nav--open #welcome,
#frontpage.nav-sticky #welcome {
    margin-top: 20vh;
}

#welcome {
    margin-top: 0px;
    text-align: center;
}

#welcome-message {
    font-size: 250%;
    font-weight: 500;
    letter-spacing: 3px;
    margin: .5rem 3.5rem 6.5rem 5.5rem;
    opacity: 1;
    transition: .5s;
}

#frontpage.nav-sticky #welcome-message {
    opacity: 0;
    transition: .5s;
}

#welcome .greeting {
    display: grid;
    grid-template-columns: 65% 35%;
}

#welcome .background {
    width: 100%;
    padding: 0 2.5vw 0 5vw;
}

#welcome .index {
    padding: 0 5vw 0 2.5vw;
}

#welcome a {}

#welcome a .item {
    height: auto;
    margin: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, .12);
}

#welcome h2 {
    font-size: 95%;
    padding: 20px 0 0;
}

#welcome svg {
    width: 36px;
    height: 36px;
    margin: auto;
}

.dark #welcome a .item,
#frontpage.dark.nav--open header,
#frontpage.dark.nav-sticky header {
    background-color: #080f19;
    border: 1px solid #021225;
    box-shadow: 0 0.2rem 1rem rgba(78, 78, 78, .15);
}


@media only screen and (max-width: 1280px) {

    #frontpage header {
        height: 11vw;
    }

    #welcome-message {
        font-size: 250%;
        margin: .5rem 5.5rem 3.5rem 5.5rem;
    }

    #welcome .greeting {
        display: grid;
        grid-template-columns: 61% 39%;
    }

    #welcome .background {
        padding: 0 1vw 0 2.5vw;
    }

    #welcome .index {
        padding: 0 2vw 0 2.5vw;
    }

    #welcome .item {
        margin: 10px;
        width: calc(100% - 20px);
        padding: 10px;
    }

    #welcome svg {
        width: 35px;
        height: 35px;
    }

    #welcome h2 {
        font-size: 95%;
        padding: 15px 0 0;
    }
}

@media only screen and (max-width: 960px) {
    #welcome-message {
        font-size: 200%;
        margin: .5rem 2.5rem 1.5rem 2.5rem;
    }

    #welcome .greeting {
        display: grid;
        grid-template-columns: auto;
    }

    #welcome .index {
        padding: 0 10vw;
    }

    #welcome .background {
        padding: 0 10vw;
        position: absolute;
        z-index: -1;
    }

    #welcome .item {
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
    }

    #welcome .grid.col-3 {
        margin-top: 5vw;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    #welcome-message {
        font-size: 150%;
        margin: .5rem 3.5rem 1.5rem 3.5rem;
    }

    #frontpage header {
        height: 15vw;
    }

    #frontpage.nav--open header,
    #frontpage.nav-sticky header,
    #frontpage header nav .brand {
        height: 70px;
    }

    #welcome .index,
    #welcome .background {
        padding: 0 5vw;
    }

    #welcome .grid.col-3 {
        margin-top: 3vw;
    }
}

@media only screen and (max-width: 600px) {
    #welcome-message {
        font-size: 130%;
        margin: .5rem 2.5rem 3rem 2.5rem;
    }

    #welcome .grid.col-3 {
        margin-top: 0;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 480px) {

    #frontpage #nav-header{
        height: 60px;
       
    }

    #welcome-message {
        font-size: 120%;
        margin: 1.5rem .5rem 1.5rem .5rem;
    }

    #welcome .index,
    #welcome .background {
        padding: 0 4.5vw;
    }

    #welcome .background {
        width: 150%;
        margin-left: -10%;
    }

    #welcome h2 {
        font-size: 87%;
        padding: 13px 0 0;
    }

    #welcome .grid.col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 360px) {

    #welcome-message {
        font-size: 115%;
        margin: .5rem 0.5rem 1.5rem;
    }

    #welcome svg {
        width: 30px;
        height: 30px;
    }

    #welcome h2 {
        font-size: 85%;
        padding: 10px 0 0;
    }

    #welcome .index,
    #welcome .background {
        padding: 0 2.5vw;
    }

    #welcome .grid.col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* 2 TAGLINE */
.judul-bagian {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 0vh 0;
    font-weight: 500;
}

.judul-bagian span {
    color: #ef8808;
}

.judul-bagian .kepala {
    font-size: 500%;
    letter-spacing: 5px;

}

.judul-bagian .pelengkap {
    font-size: 200%;
    margin-left: 1rem;
    letter-spacing: 3px;
}

.judul-bagian .tandabaca {
    font-size: 700%;
}

.judul-bagian h1,
.judul-bagian h2 {
    margin: 0;
    padding: 0;
    color: #4e4c6f;
    margin-right: 1rem;
}

@media only screen and (max-width: 1280px) {
    .judul-bagian .kepala {
        font-size: 400%;
    }

    .judul-bagian .pelengkap {
        font-size: 150%;
        margin-left: 0;
    }

    .judul-bagian .tandabaca {
        font-size: 600%;
    }
}

@media only screen and (max-width: 960px) {
    .judul-bagian .kepala {
        font-size: 350%;
    }

    .judul-bagian .pelengkap {
        font-size: 145%;
    }

    .judul-bagian .tandabaca {
        font-size: 400%;
    }
}

@media only screen and (max-width: 800px) {
    .judul-bagian .kepala {
        font-size: 320%;
    }

    .judul-bagian .pelengkap {
        font-size: 130%;
    }

    .judul-bagian .tandabaca {
        font-size: 400%;
    }

}

@media only screen and (max-width: 600px) {
    .judul-bagian .kepala {
        font-size: 260%;
        margin-right: .5rem;
    }

    .judul-bagian .pelengkap {
        font-size: 120%;
    }

    .judul-bagian .tandabaca {
        font-size: 300%;
    }

    .judul-bagian .tandabaca {
        margin-right: 0;
    }
}


@media only screen and (max-width: 480px) {

    .judul-bagian {
        background-color: #f3f3f3;
        border-top: 1px solid #dddd;
        border-bottom: 1px solid #dddd;
        padding: 1.5rem 0;
        margin: .5rem 0 .5rem 0;
    }

    .judul-bagian .kepala {
        font-size: 150%;
        letter-spacing: 3px;
    }

    .judul-bagian .pelengkap {
        font-size: 80%;
    }

    .judul-bagian .tandabaca {
        display: none;
    }
}

@media only screen and (max-width: 360px) {

    .judul-bagian {
        padding: 0.75rem 0;
    }

    .judul-bagian .kepala {
        font-size: 110%;
        letter-spacing: 3px;
    }

    .judul-bagian .pelengkap {
        font-size: 70%;
        margin-right: 0;
    }

    .judul-bagian .tandabaca {
        display: none;
    }
}


/* COLLECTION LIST 1 */


#collection-list-1 {
    padding: 5vh 10vw;
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 1280px) {
    #collection-list-1 {
        padding: 5vw 3vw;
    }
}

@media only screen and (max-width: 960px) {
    #collection-list-1 {
        padding: 5vw 1vw;
    }
}

@media only screen and (max-width: 800px) {
    #collection-list-1 {
        padding: 5vh 6vw;
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 600px) {
    #collection-list-1 {
        padding: 5vw 4vw;
    }
}


@media only screen and (max-width: 480px) {
    #collection-list-1 {
        padding: 5vw 2vw;
    }
}

@media only screen and (max-width: 360px) {
    #collection-list-1 {
        padding: 5vw 1vw;
    }
}

#yuros-berita{
    padding: 12vh 12vw 0;
}

/* COLLECTION LIST 1 */


#collection-list-2 {
    padding: 7vh 12vw;
    display: grid;
    align-items: center;
}

.audio-playlist {}

.audio-playlist h2 {
    font-size: 170%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.audio-playlist .podcast {
    text-align: center;
}

.audio-playlist .music {}

.audio-playlist .list-podcast,
.audio-playlist .list-music {
    list-style: none;
    margin: 0;
}

.audio-playlist .list-podcast {
    padding: 0 2.5vw 0 0 ;
}

.audio-playlist .list-music {
    padding: 0  0 0 2.5vw;
}

.list-podcast li {
    margin: 5vh 0;
    text-align: left;
}

.list-podcast a {
    display: grid;
    grid-template-columns: 130px auto;
    grid-gap: 5%;
}

.list-podcast a:hover {
    transform: scale(1.01);
    transition: .06s;
}

.list-podcast .kover-artis {
    display: flex;
    justify-content: center;
    align-content: center;
}

.list-podcast img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 0.1rem 10px rgba(0, 0, 0, .7);
    position: relative;
    border-radius: 50%;
}

.list-podcast a:hover img {

}

.list-podcast .mainkan {
    background-color: rgba(109, 11, 47, 0.1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    opacity: 1;
    transition: .25s;
}

.list-podcast .mainkan svg {
    height: 40px;
    width: 40px;
    margin-right: 0;
    fill: rgba(255, 255, 255, .6);
    transition: .25s;
    box-shadow: 1px 1px 20px #000;
    border-radius: 50%;
}

.list-podcast a:hover .mainkan {
    background-color: rgba(109, 11, 47, 0.5);
}

.list-podcast a:hover svg{
    height: 45px;
    width: 45px;
    transition: .25s;
}

.list-podcast .informasi {}

.list-podcast .judul {
    font-size: 95%;
    font-weight: 500;
    color: #333;
}

.list-podcast .kepengarangan {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 85%;
    margin-top: 10px;
}

.list-podcast .kreator {}

.list-podcast .durasi {}

.list-podcast .chapter {}


.list-music {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.list-music li {
    margin-top: .7rem;
}

.list-music a {}


.list-music .kover-artis {
    display: grid;
    
}

.list-music .photo {
    height: 10vw;
    width: 10vw;
    transition: .5s;
}

.list-music a:hover .photo {
    transform: rotateY(-180deg);
    transition: .5s;
}

.list-music .mainkan {
    height: 10vw;
    width: 10vw;
    opacity: 0;
    margin-top: -10vw;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    transform: rotatey(-90deg);
    background-color: rgba(26, 20, 51, .9);
    color: #fff;
    font-size: 110%;
    transition: .25s;
}

.list-music a:hover .mainkan {
    transform: rotateY(-180deg);
    opacity: 1;
    transition: .25s;
}

.list-music svg {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    transform: rotateY(180deg);
}


.list-music .judul, .list-music .artis {
    transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: 80%;
}





/* 3 QUOTES */

#quotes {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5vw 10vw;
    height: auto;
}

#quotes h2 {
    text-align: right;
    font-size: 350%;
    margin: -81px 50px 0 0px;
    text-transform: capitalize;
    display: grid;
    align-items: center;
}

#quotes .description {
    display: flex;
}


/* Blockquote main style */
#quotes .blockquote {
    position: relative;
    max-width: 680px;
    align-self: center;
    margin: 0 0 0 auto;
}

/* Blockquote header */
#quotes .blockquote h1 {
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 130%;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 2;
    margin: 0;
    border: 1px solid #f59c17;
    border-radius: 20px;
    padding: 35px 30px 40px;
}

#quotes .blockquote img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #f59c17;
    padding: 10px;
    background-color: #fff;
    margin-left: 56px;
    margin-top: 21px;
    z-index: 100;
    position: relative;
}

#quotes .blockquote h1 p {
    margin: 0;
}


/* Blockquote right double quotes */
#quotes .blockquote h1:after {
    content: "";
    position: absolute;
    border: 1px solid #f59c17;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

#quotes .blockquote h1:before {
    content: "";
    position: absolute;
    width: 80px;
    border: 6px solid #fff;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* Blockquote subheader */
#quotes .blockquote h4 {
    position: relative;
    font-size: 115%;
    font-style: italic;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 2.5px;
    padding: 30px 0px 0px 44px;
    z-index: 1;
}

#quotes .blockquote h4:first-letter {
    margin-left: -12px;
}

#quotes .blockquote h4 span {
    font-size: 21px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.dark #quotes .blockquote h1:before {
    border: 6px solid #00050e;
}

.dark #quotes .blockquote h1 {
    background-color: transparent;
}

.dark #quotes .blockquote img {
    background-color: #00050e;
}

@media only screen and (max-width: 1280px) {
    #quotes {
        grid-template-columns: 50% 50%;
        padding: 8vw 3vw;
    }

    #quotes h2 {
        font-size: 250%;
    }

    #quotes .blockquote h1 {
        font-size: 100%;
    }

    #quotes .blockquote h1:after {
        bottom: -60px;
    }

    #quotes .blockquote .author {
        font-size: 95%;

    }

    #quotes .blockquote img {
        padding: 5px;
    }

}

@media only screen and (max-width: 960px) {
    #quotes {
        grid-template-columns: 100%;
        padding: 8vw 3vw;
    }

    #quotes .blockquote h1 {
        font-size: 105%;
    }

    #quotes h2 {
        display: none;
    }

    #quotes .blockquote {
        margin: auto;
    }
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 600px) {
    #quotes .blockquote h1 {
        font-size: 95%;

    }

    #quotes .blockquote .author {
        font-size: 85%;
    }


}

@media only screen and (max-width: 480px) {
    #quotes .blockquote h1 {
        font-size: 87%;
    }

    #quotes .blockquote .author {
        font-size: 78%;
    }

    #quotes .blockquote h4 {
        padding: 30px 0 0 20px;
    }
}

@media only screen and (max-width: 360px) {
    #quotes .blockquote h1 {
        font-size: 85%;
    }

    #quotes .blockquote img {
        margin-left: 14px;
        margin-top: 7px;
    }

    #quotes .blockquote .author {
        font-size: 75%;
    }
}


/* 3 Services */

#services {
    padding: 7vh 10vw;
}

#services img {
    width: 100%;
}

#services h1,
h2 {
    margin: 0;
    padding: 0;
}

#services .section-header {
    font-size: 350%;
    text-align: center;
}

#services .library-user {
    text-align: right;
}

#collection .page {
    display: grid;
    grid-template-columns: 70px calc(100% - 70px);
    align-items: center;
    margin: .75rem 0;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    transition: .1s;
}

/* 2 SERVICES */




#toolset {
    min-height: 50vh;
    padding: 0 10vw;
}


#knowledge {
    min-height: 50vh;
    padding: 0 10vw;
}