/* 1 RESET */
/* 2 HEADER */
/* 3 FOOTER */


/* 1 RESET */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

html{

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222;
}

a,
a:visited {
    color: #3a3a44;
    outline: 0;
    text-decoration: none
}

a.active,
a:active,
a:focus,
a:hover {
    color: #685b88;
}



body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark p,
body.dark a {
    transition: 1s;
}


main {
    min-height: 100vh;
}
/* Grid System */

.grid {
    display: grid;
    width: 100%;
}

.grid.col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid.col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.vcent {
    justify-content: center;
}

.grid.hcent {
    align-items: center;
}


/* Effect */

.scale:hover {
    transform: scale(1.07);
    transition: .15s;
}

.scale-02:hover{
    transform: scale(1.02);
    transition: .15s;
}

.scale-xs:hover{
    transform: scale(1.01);
    transition: .15s;
}
/* 2 HEADER */


#nav-header {
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    font-size: 105%;
    position: relative;
    z-index: 100000;
    background-color: #fff;
}

.nav--open #nav-header {
    position: fixed;
    top: 0;
}

#nav-header p,
#nav-header ul,
#nav-header h1,
#nav-header h2,
#nav-header h3 {
    margin: 0;
    padding: 0;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#nav-header h1 {
    font-size: 85%;
}

#nav-header h2 {
    font-size: 95%;
}

#nav-header h3 {
    font-size: 80%;
}

#nav-header ul {
    list-style: none;
    margin: 1rem 0;
}

#nav-header ul li {
    font-size: 81%;
    font-weight: 300;
    color: #3b4351;
}

#nav-header .flex {
    display: flex;
}

#nav-header .flex h2 {
    margin-bottom: 35px;
}

#nav-header .mlr {
    margin: 0 auto;
}

#nav-header .content {
    padding: 30px;
}

#nav-header .menu-btn {
    border-bottom: 1px solid transparent;
}

#nav-header .menu-btn:hover {
    border-bottom: 1px solid orange;
}

#main-header * {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header figure {
    margin: 0;
    height: 27px;
    margin-right: .4rem;
}

#main-header .logo {
    height: inherit;
    transform: rotate(-58deg);
    animation: logorotate 1s;
}

@keyframes logorotate {
    0% {
        opacity: 0;
        transform: rotate(90deg);
    }

    100% {
        opacity: 1;
        transform: rotate(-58deg);
    }
}


#main-header h1 {
    text-transform: uppercase;
}

#main-header h1.site-title {
    animation: fadeinleft 1s ;
}

#nav-header

#main-header .openmenu {
    animation: fadeinleft 1s ;
}


@keyframes fadeinleft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#main-header {
    display: grid;
    grid-template-columns: auto auto;
}

#main-header span {
    margin: 1rem;
    color: orange;
    width: 2px;
}

#navmenu,
#navback {
    position: fixed;
    height: 0;
    opacity: 0;
    overflow: hidden;
    animation: closemenu .15s;
}

.nav--open #navmenu,
.nav--open #navback {
    width: 100%;
    padding: 2vh 0;
    height: calc(100vh - 60px);
    opacity: 1;
    top: 60px;
    left: 0;
}

.nav--open #navmenu {
    animation: openmenu .15s;
}

.nav--open #navback {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
}

.nav--open #navmenu {
    position: absolute;
}

.nav-sticky #nav-header {
    position: fixed;
    top:0
}

@keyframes closemenu {
    0% {
        opacity: 1;
        margin-top: 0;
        z-index: unset;
    }

    100% {
        opacity: 0;
        margin-top: -10px;
        z-index: 0;
    }
}

@keyframes openmenu {
    0% {
        opacity: 0;
        margin-top: -10px;
        z-index: -1;
    }

    100% {
        opacity: 1;
        margin-top: 0;
        z-index: 0;
    }
}

.nav--open header nav {
    overflow-y: scroll;
}

#nav-header nav {
    width: 90%;
    display: grid;
    grid-template-columns: 70% 30%;
    position: relative;
    border-radius: 13px;
    box-shadow: 0 0.5rem .7rem rgba(0, 0, 0, .05);
    z-index: 100;
}

#nav-header nav::-webkit-scrollbar {
    width: 0px;
}

#nav-header nav .acces-menu {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    margin-bottom: .5rem;
}

#nav-header nav .brand {
    display: none;
    align-items: center;
    height: 75px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}

#nav-header nav .brand figure,
#nav-header nav .brand .logo {
    height: 35px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

#nav-header nav .brand a {
    font-size: 95%;
    text-transform: uppercase;
    letter-spacing: 3px;

}

#nav-header nav .columns {
    border-radius: 13px;
    margin: 0
}

#nav-header #main-menu {
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-radius: 13px 0 0 13px;
}

#nav-header #main-menu .menu-category {
    column-count: 6;
    column-gap: 1em;
}

#nav-header #main-menu .accordion {
    /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

#nav-header #accessibility {
    background-color: #f3f3f3;
    border-radius: 0 13px 13px 0;
}

#nav-header #accessibility .mod-detail {
    margin: 0.27rem .5rem .0rem .5rem;
    font-size: 70%;
}

#nav-header #accessibility .mod-detail::before {
    content: "Light Mode";
}

#nav-header #accessibility .lang {
    float: left;
    width: 28px;
    height: 28px;
    color: #fff;
    background-color: #5655d9;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: .5rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .5);
}

#nav-header nav #accessibility .lang p {

    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

#nav-header svg{
    width: 17px;
    height: 17px;
}


/* Header Dark Mode */

.dark #nav-header {
    border-bottom: 1px solid #021225;
}

.dark #nav-header,
.dark #nav-header #accessibility {
    background-color: #0c111b;
}

.dark #nav-header nav {
    border: 1px solid #021225;
}

.dark #nav-header #main-menu {
    background-color: #01050c;
    border-right: 1px solid #021225;
}

.dark header #accessibility .mod-detail::before {
    content: "Dark Mode";
}


@media only screen and (max-width: 1280px) {

    #nav-header h1 {
        font-size: 90%;
    }

    #nav-header h2 {
        font-size: 90%;
    }

    #nav-header h3 {
        font-size: 80%;
    }

    #nav-header ul li {
        font-size: 90%;
        line-height: 1.5;
    }

    #nav-header svg {
        width: 15px;
        height: 15px;
    }

    #main-header figure {
        height: 25px;
    }

    #nav-header nav {
        width: 96%;
    }

    .nav--open #navmenu,
    .nav--open #navback {
        padding: 1vh 0;
    }

    #nav-header .flex h2 {
        margin-bottom: 25px;
    }

    #nav-header nav .acces-menu {
        grid-template-columns: 40% auto;
    }

    #nav-header #accessibility .mod-detail::before {
        font-size: 65%;
    }

    #nav-header #accessibility .lang {
        width: 30px;
        height: 30px;
    }

    #nav-header nav #accessibility .lang p {
        font-size: 10px;
    }

}

@media only screen and (max-width: 960px) {

    #nav-header {
        height: 60px;
    }

    #nav-header h1 {
        font-size: 100%;
    }

    #nav-header h2 {
        font-size: 85%;
    }

    #nav-header h3 {
        font-size: 75%;
    }

    #nav-header ul li {
        font-size: 80%;
        line-height: 1.4;
    }

    #nav-header #main-menu,
    #nav-header nav,
    #nav-header #accessibility {
        border-radius: 0;
    }

    .nav--open #navmenu,
    .nav--open #navback {
        height: calc(100vh - 60px);
        padding: 0vh 0;
        top: 60px;
    }

    #nav-header nav {
        width: 100%;
        grid-template-columns: 65% 35%;
    }

    #nav-header #main-menu .menu-category {
        column-count: 4;
        column-gap: 0em;
    }

    .nav--open header nav {
        height: -webkit-fill-available;
    }

    #nav-header #accessibility .mod-detail{
        font-size: 95%;
    }

}

@media only screen and (max-width: 800px) {
    

    #nav-header {
        height: 60px;
    }

    #nav-header nav .brand {
        height: 60px;
        display: flex;
    }

    #nav-header svg {
        width: 20px;
        height: 20px;
    }

    #nav-header h1,
    #nav-header nav .brand a {
        font-size: 85%;
    }

    #nav-header h2 {
        font-size: 83%;
    }

    #nav-header .accordion h2 {
        font-size: 80%;
        padding-left: 35px;
        margin: 5px 0;
    }

    #nav-header .flex h2 {
        margin-bottom: 35px;
    }

    #nav-header h3 {
        font-size: 70%;
        padding-left: 35px;
    }

    #nav-header ul li {
        font-size: 120%;
    }

    #nav-header nav {
        width: 60%;
        grid-template-columns: 100%;
    }

    .nav--open header nav {
        min-height: 100vh;
    }

    #nav-header nav.mlr {
        margin: 0 0 auto 0;
    }



    .nav--open #navmenu,
    .nav--open #navback {
        position: fixed;
        top: 0;
        height: 100vh;
        overflow: hidden;
        animation: none;
    }

    .nav--open #navmenu {
        animation: headfleft .1s;
    }

    @keyframes headfleft {
        0% {
            opacity: 0;
            margin-left: -2vw;
        }

        100% {
            opacity: 1;
            margin-left: 0vw;
        }
    }

    .nav--open #navback {
        animation: fadein .05s;
    }

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    #nav-header #main-menu .menu-category {
        column-count: 1;
        column-gap: 0em;
    }

    #nav-header #accessibility {
        border-top: 1px solid #ddd;
    }
}

@media only screen and (max-width: 600px) {

    #nav-header,  #nav-header nav .brand{
        height: 60px;
    }

    #nav-header nav {
        width: 85%;
    }

    #nav-header svg {
        width: 19px;
        height: 19px;
    }

    #nav-header nav .brand .logo {
        height: 27px;
    }

    #nav-header h1,
    #nav-header nav .brand a {
        font-size: 90%;
    }

    #nav-header h2 {
        font-size: 85%;
    }
    #nav-header .accordion h2 {
        font-size: 80%;
    }

    #nav-header h3 {
        font-size: 80%;
        padding-left: 0;
    }

    #nav-header #getmenu h1 {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    #nav-header,
    #nav-header nav .brand {
        height: 60px;
    }

    #nav-header nav {
        width: 90%;
    }

    #nav-header svg {
        width: 20px;
        height: 20px;
    }

    #nav-header nav .brand .logo {
        height: 27px;
    }

    #nav-header h1,
    #nav-header nav .brand a {
        font-size: 85%;
    }

    #nav-header h2 {
        font-size: 85%;
    }

    #nav-header .accordion h2 {
        font-size: 78%;
    }

    #nav-header h3 {
        font-size: 75%;
        padding-left: 0;
    }


    #nav-header #getmenu h1 {
        display: none;
    }
}

@media only screen and (max-width: 360px) {
    #nav-header nav {
        width: 100%;
    }

    #nav-header h2,
    #nav-header .accordion h2 {
        font-size: 100%;
    }
}


/* 3 FOOTER */

footer {
    position: relative;
    background-color: #080713;
    width: 100%;
    height: 62px;
    border-top: 1px solid #9e28da;
}

footer .top {
    padding: 0 5vw;
}

footer .top,
footer .identity,
footer ul {
    display: flex;
    align-items: center;
    height: 60px;
}

footer ul {
    margin: 0 0 0 auto;
    list-style: none;
    display: flex;
    font-size: 90%;
}

footer li {
    margin: .4rem .7rem;
}

footer .footer-logo {
    transform: rotate(-58deg);
    height: 30px;
    width: 30px;
    margin-inline-start: 0px;
    margin-inline-end: 19px;
}

footer .identity {
    font-size: 90%;
 }

 footer .identity span{
     margin-left: .5vw;
 }

footer a.link-footer,
footer .identity {
    color: #d2c2e2;
}

footer a.link-footer {
    border-bottom: 1px solid transparent;
    padding-bottom: .3rem;
    transition: .1s;
}

footer a.link-footer:hover {
    border-bottom: 1px solid orange;
}

footer .get-apps {
    display: none;
}

footer .get-apps img {
    width: 120px;
    height: 36px;
    margin-right: .5rem;
}

@media only screen and (max-width: 960px) {

    footer {
        font-size: 90%;
        height: auto;
    }
    footer .top,
    footer .identity,
    footer ul {
        height: auto;
    }

    footer .top {
        padding: 20px;
    }

    footer .get-apps {
        margin-top: .5rem;
        display: flex;
        align-items: center;
    }

    footer ul {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 0;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: 80%;
    }

    footer .footer-logo {
        height: 25px;
        width: 25px;
    }

    footer .get-apps img {
        width: 100px;
        height: 30px;
    }

    footer .top {
        padding: 15px;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        font-size: 75%;
    }

    footer .top {
        padding: 10px;
    }

    footer .get-apps img {
        width: 100px;
        height: 30px;
    }

    footer .footer-logo {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 360px) {
    footer .top{
        display: block;
    }

    footer .top .left{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    footer .identity {
       margin: .5rem;
    }

    footer ul {
        display: grid;
        grid-template-columns: auto auto;
        margin: .5rem 0 ;
        padding: 0 15vw;
    }
}

/* LIST KELAS CARD  */


.kelas-item {
	background-color: #fff;
	border-radius: 10px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
    display: grid;
    grid-template-columns: 30% auto;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
}

.kelas-item h6 {
    opacity: .6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 65%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.kelas-item h2 {
    letter-spacing: 1px;
    margin: 1vh 0;
    font-size: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.kelas-item .kategori {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #2a265f;
    color: #fff;
    padding: 30px;
    width: 100%;
}

.kelas-item .kategori a {
	color: #fff;
	font-size: 12px;
	opacity: 0.6;
	text-decoration: none;
}

.kelas-item .informasi {
	padding: 30px;
	position: relative;
	width: 100%;
}

.kelas-item .kontainer-info {
    position: absolute;
    top: 33px;
    right: 30px;
    text-align: right;
    width: 80px;   
}

.kelas-item .progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 2px;
	width: 100%;
}

.kelas-item .progress::after {
	border-radius: 3px;
	background-color: #E91E63;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 66%;
}

.kelas-item .informasi-kelas{
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 85%;
}
.kelas-item .level{
    margin-left: auto;
    font-size: 90%;
    margin-top: .5rem;
}
.kelas-item .jumlah-sessi{    
    background-color: #8f6bb7;
    padding: 5px 10px;
    color: #fff;
    border-radius: 50%;
}

@media only screen and (max-width: 1280px) {
    .kelas-item{
        margin: 10px;
    }
    .kelas-item .kategori{
        padding: 20px;
    }

    .kelas-item h2 {
        font-size: 110%;
        margin: 2vh 0;
    }

    .kelas-item h6{
        font-size: 80%;
    }

    .kelas-item .kontainer-info {
        top: 20px;
    }

    .kelas-item .informasi {
        padding: 20px;
    }

    .kelas-item .informasi-kelas{
        font-size: 90%;
    }
}

@media only screen and (max-width: 960px) {
    .kelas-item{
        margin: 10px;
    }
    .kelas-item .kategori{
        padding: 20px;
    }

    .kelas-item h2 {
        font-size: 90%;
        margin: 1.5vh 0;
    }

    .kelas-item h6{
        font-size: 70%;
    }

    .kelas-item .kontainer-info {
        top: 15px;
    }

    .kelas-item .informasi {
        padding: 15px;
    }

    .kelas-item .informasi-kelas{
        font-size: 80%;
    }   
}

@media only screen and (max-width: 800px) {
    .kelas-item{
        margin: 10px;
    }
    .kelas-item .kategori{
        padding: 20px;
    }

    .kelas-item h2 {
        font-size: 100%;
        margin: 1vh 0;
    }

    .kelas-item h6{
        font-size: 75%;
    }

    .kelas-item .kontainer-info {
        top: 20px;
    }

    .kelas-item .informasi {
        padding: 20px;
    }

    .kelas-item .informasi-kelas{
        font-size: 85%;
    }
}

@media only screen and (max-width: 600px) {}


@media only screen and (max-width: 480px) {
    .kelas-item .progress{
        display: none;
    }

    .kelas-item{
        margin: 10px;
    }
    .kelas-item .kategori{
        padding: 20px;
    }

    .kelas-item h2 {
        font-size: 80%;
        margin: 2vh 0;
    }

    .kelas-item h6{
        font-size: 60%;
    }


    .kelas-item .informasi {
        padding: 10px;
    }

    .kelas-item .informasi-kelas{
        font-size: 70%;
    }

    .kelas-item .kategori a{
        font-size: 11px;
    }
}

@media only screen and (max-width: 360px) {

    .kelas-item .kategori{
        padding: 10px;
    }

    .kelas-item h2 {
        font-size: 75%;
        margin: 2vh 0;
    }

    .kelas-item h6{
        font-size: 55%;
    }


    .kelas-item .informasi-kelas{
        font-size: 60%;
    }

    .kelas-item .kategori a{
        font-size: 11px;
    }
}

