#video-content .title{
    margin: 0em 0 1.5em 0;
    text-transform: capitalize;
    margin-bottom: 2em;
    text-align: left;
}

#video-content .title::before{
    content:'';
    margin:0
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}