<footer role="contentinfo">
	<div class="top">
		<div class="left">
			<div class="identity">
				<img class="footer-logo" src="{{ .Site.BaseURL }}{{ .Site.Params.brandlogo }}" alt="yuros-public-library-logo" />
				&copy; {{ now.Format "2006" }}<span> {{ .Site.Title }}</span>
			</div>
			{{- if or ( .Site.Params.appstore ) ( .Site.Params.playstore )  }}
			<div class="get-apps">
				{{- if .Site.Params.appstore }}
				<a href="#">
					<img src="{{ .Site.BaseURL }}{{ .Site.Params.appstore }}" att="download-yuros-app-on-app-store">
				</a>
				{{- end -}}
				{{- if .Site.Params.playstore }}
				<a href="#">
					<img src="{{ .Site.BaseURL }}{{ .Site.Params.playstore }}" att="download-yuros-app-on-app-store">
				</a>
				{{- end -}}
			</div>
			{{- end -}}
		</div>
		{{- if .Site.Menus.footer }}
		<ul >
			{{ range  .Site.Menus.footer -}}
			<li>
				<a class="link-footer {{ .Name }}" href="{{ .URL }}" title="{{ .Name }} page">{{- .Name -}}</a>
			</li>
			{{ end }}
		</ul>
		{{- end }}
	</div>
</footer>
{{ partial "main/footer/scripts.html" . }}


