{{ define "main" }}
{{ $data := .Data }}
<article>
	
    Test POdcast Category
	<div>
		{{ .Content }}
	</div>
</article>
<div>
	<section>
		{{ range first 1 .Pages }}
		<img src="{{ .Parent.RelPermalink }}{{ .Parent.Page.Params.Background }}" alt="{{- .Title -}}podcast-background" />
		{{ end }}
		{{ range .Parent.Pages }}
		<div>
			{{ range first 10 .Pages }}
				<article>
				<!-- this <div> includes the title summary -->
				<div>
					<h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					{{ .Summary }}
				</div>
				{{ if .Truncated }}
				<!-- This <div> includes a read more link, but only if the summary is truncated... -->
				<div>
					<a href="{{ .RelPermalink }}">Read More…</a>
				</div>
				{{ end }}
				</article>
			{{ end }}
		</div>
		{{ end }}
	</section>
</div>
{{ end }}