.pod-header {
  height: 75vh;
  width: 100vw;
  display: grid;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .5);
}

.pod-header a,
.pod-header a:visited {
  color: #fff;
}

.pod-header a:hover {
  color: orange;
}


.pod-header * {
  color: #fff;
  margin: 0;
  padding: 0;
}

.pod-header .background {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

.pod-header .metadata {
  display: grid;
  align-items: center;
  background: rgba(0, 0, 0, .7);
  height: inherit;
  width: inherit;
  margin-top: -75vh;
  position: relative;
  padding: 15vh 0;
}

.pod-header .deskripsi,
.pod-header .trailer {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.pod-header .cover {
  height: 11vw;
  width: 11vw;
  border: 5px solid rgba(255, 255, 255, .7);
  margin-right: 2vw;
}

.pod-header .artist {
  font-size: 120%;
  margin-top: 10px;
}

.pod-header time {
  display: none;
}

.pod-header .control {
  height: auto;
  display: flex;
  margin: 20px 0px 0 0;
}

.pod-header .ctrl-btn {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 65%;
  margin: 0px 20px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: .5rem 1rem;
  border-radius: 5px;
}

.pod-header .trailer {
  align-items: center;
  height: 0;
  position: fixed;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

.pod-header .trailer.open {
  position: relative;
  height: auto;
  opacity: 1;
  transition: 1s;
}


.pod-header .trailer .header {
  letter-spacing: 2px;
  font-size: 120%;
  color: #fff;
  margin: 0;
}

.pod-header .trailer p {
  font-size: 85%;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #000;
  background-color: rgba(0, 0, 0, .7);
  padding: 20px 40px;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  line-height: 1.7;
}


#pod-content {
  padding: 5vw 17vw;
  overflow: hidden;
}

#playlist-utama {
  width: 60%;
  float: left;
}

.header {
  font-size: 100%;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333a61;
  font-weight: 500;
}

.header hr {
  border-bottom: 2px solid orange;
  border-top: 0;
  width: 20%;
  float: left;
}


#bilah-samping {
  width: 40%;
  float: right;
  padding-left: 5vw;
}

.terkait-erat {
  width: 100%;

}

.terkait-erat ul,
.terkait-erat li,
.terkait-erat a {
  width: inherit;
  margin: 0;
  list-style: none;
}

.podcast-card {
  --width: 100%;
  --height: 100px;
  --borad: 15px;
}

.podcast-card:hover {
  transform: scale(1.01);
}

.podcast-card {
  width: var(--width);
  height: var(--height);
  margin-bottom: 1rem;
  border-radius: var(--borad);
  display: grid;
  transition: .1s;
}

.podcast-card:hover {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, .25);
  transition: .1s;
}

.podcast-card .latar {
  width: var(--width);
  height: var(--height);
  object-fit: cover;
  object-position: center;
  position: relative;
  border-radius: var(--borad);
}

.podcast-card .info {
  width: var(--width);
  height: var(--height);
  margin-top: calc(0px - var(--height));
  background-color: rgba(17, 6, 74, 0.7);
  display: flex;
  align-items: center;
  z-index: 1010;
  position: relative;
  border-radius: var(--borad);
  padding: 5%;
  transition: .1s;

}

.podcast-card .info:hover {
  background-color: rgba(17, 6, 74, 0.9);
  transition: .1s;
}

.podcast-card .kover {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 5%;
  border: 3px solid rgba(255, 255, 255, .5);
}

.podcast-card .artis {
  font-size: 85%;
  color: #fff;
}

.podcast-card .judul {
  font-size: 100%;
  color: #fff;
}


@media only screen and (max-width: 1280px) {

  #pod-content {
    padding: 7vw 7vw;
  }

  #playlist-utama {
    padding: 0;
  }

  .pod-header .metadata {
    padding: 10vh 0;
  }

  .pod-header .cover {
    height: 150px;
    width: 150px;
  }

  .pod-header .ctrl-btn {
    font-size: 85%;
  }

}

@media only screen and (max-width: 960px) {

  .pod-header .metadata {
    padding: 5vh 0;
  }

  .pod-header .deskripsi,
  .pod-header .trailer {
    display: block;
    width: fit-content;
  }

  .pod-header .cover {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
  }

  .pod-header .judul {
    font-size: 150%;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
  }

  .pod-header .artist {
    text-align: center;
    font-size: 90%;
    margin-top: 5px;
  }

  .pod-header .control {
    margin: 15px 0 0 0;
  }

  .pod-header .ctrl-btn {
    margin: 0 auto;
  }

  .pod-header .trailer.open {}

  .pod-header .trailer .header {
    display: none;
  }

  .pod-header .trailer p {
    margin: auto;
    width: 80%;
  }

  #pod-content {
    padding: 0vw 15vw;
  }

  #playlist-utama {
    width: 100%;
    padding-right: 0;

  }

  #bilah-samping {
    width: 100%;
    padding-left: 0;
  }

}

@media only screen and (max-width: 800px) {

  .pod-header .cover {
    width: 120px;
    height: 120px;
  }

  .pod-header .trailer p {
    width: 90%;
  }

  #pod-content {
    padding: 0vw 7vw;
  }


}

@media only screen and (max-width: 600px) {

  .pod-header .metadata {
    padding: 7vh 0;
  }

  .pod-header .ctrl-btn {
    font-size: 80%;
  }

  .pod-header .trailer p {
    font-size: 95%;
    padding: 10px 20px;
  }

  #pod-content {
    padding: 0vw 5vw;
  }

}

@media only screen and (max-width: 480px) {

  #pod-content {
    padding: 0vw 3vw;
  }

  .pod-header .judul {
    font-size: 135%;
    ;
  }

  .pod-header .cover {
    width: 100px;
    height: 100px;
  }

  .podcast-card {
    --height: 100px;
    --borad: 10px;
  }

  .podcast-card .judul {
    font-size: 100%;
  }

}

@media only screen and (max-width: 360px) {

  #pod-content {
    padding: 0;
  }

  .mainpod {
    border-radius: 0;
  }

  .pod-header .cover {
    width: 80px;
    height: 80px;
  }

  .pod-header .judul {
    margin-top: 15px;
  }

  .pod-header .control {
    margin: 10px 0 0;
  }

  .pod-header .ctrl-btn {
    font-size: 75%;
  }

  .podcast-card {
    --height: 100px;
    --borad: 0px;
  }

}


/* Podcast.mainpod  */

.mainpod {
  display: grid;
  border: 1px solid #e8e5e5;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.1);
}

.mainpod .informasi {
  display: grid;
  grid-template-columns: 90px calc(100% - 90px);
  align-items: center;
  justify-content: center;
}

.mainpod .cover {
  --height: 90px;
  --width: 90px;
  --borrad: 10px;
}

.mainpod .cover {
  display: grid;
  width: var(--height);
  height: var(--width);
  box-shadow:0 5px 10px #9c9292;
  border-radius: 10px;
  transition: .05s;
}

.mainpod .cover img {
  width: var(--height);
  height: var(--width);
  border-radius: var(--borrad);
  object-fit: cover;
  transition: .05s;
}

.mainpod .aksi-podcast {
  background-color: rgba(0, 0, 0, 0.2);
  width: var(--height);
  height: var(--width);
  border-radius: var(--borrad);
  margin-top: calc(0px - var(--height));
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.mainpod .cover.on-play .aksi-podcast {
  border-radius: 50%;
}

.mainpod .aksi-podcast svg {
  fill: #fff;
}

.on-play,
.on-play img {
  border-radius: 50% !important;
  transform: rotate(0deg);
  animation: rotatecover 30s linear infinite;
  border-radius: 50%;
  transition: .5s;
}

@keyframes rotatecover {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.mainpod .kepengarangan {
  padding-left: 25px;
}

.mainpod .judul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 95%;
  font-weight: 500;
  color: #130429;
}

.mainpod .active {
  height: auto !important;
  opacity: 1 !important;
  transition: .25s;
}

.mainpod .episode {
  text-transform: uppercase;
  font-size: 60%;
  color: #444;
  margin-left: auto;
}

#follow {
  display: none;
}

.mainpod .tentang {
  margin-top: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 85%;
}

.mainpod svg {
  margin: 0;
}

.mainpod .aksi-podcast {
  margin-right: 1rem;
}

.mainpod .aksi-podcast svg {
  height: 40px;
  width: 40px;
}

.mainpod .control-box {
  height: 0;
  opacity: 0;
  overflow: hidden;
  display: flex;
  align-items: center;

}

.mainpod .control-box.active {
  padding: 15px 0 5px 0;
  transition: .25s;
}

.mainpod .music-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpod .current-time,
.mainpod .duration {
  font-size: 13px;
  color: #72646f;
  width: 35px;
}

.mainpod .bantuan {
  margin-left: auto;
  display: flex;
  font-size: 80%;
}

.mainpod .material {
  display: flex;
  align-items: center;
  margin-right: .75rem;
}

.mainpod .material svg {
  width: 32px;
  height: 32px;
  margin-right: .35rem;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
  transition: .25s;
}

.mainpod .material.active svg {
  box-shadow: 1px 1px 7px 0 #6d6767;
  background-color: #5e36ff;
  fill: #fff;
  transition: .25s;
}

.mainpod .repeat.active svg {
  border-radius: 50%;
  animation: rotatecover 10s linear infinite;
}

.mainpod .material p {
  margin: 0;
}

.mainpod input[type=range] {
  -webkit-appearance: none !important;
  margin: 0 10px 0 0px;
  padding: 0px;
  background: #c6bbd0;
  height: 5px;
  width: 150px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.mainpod input[type=range]::-ms-fill-lower {
  background: #c6bbd0;
}

.mainpod input[type=range]::-ms-fill-upper {
  background: #c6bbd0;
}

.mainpod input[type=range]::-moz-range-track {
  border: none;
  background: #c6bbd0;
}

.mainpod input[type=range]::-webkit-slider-thumb {
  height: 5px;
  width: 7px;
  -webkit-appearance: none !important;
  background: #6236ff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: -100vw 0 0 100vw #6236ff;
}

.mainpod input[type=range]::-moz-range-thumb {
  background: #6236ff;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.mainpod input[type=range]::-ms-thumb {
  -webkit-appearance: none !important;
  background: #6236ff;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

@media only screen and (max-width: 1280px) {


}

@media only screen and (max-width: 960px) {


  .header {
    margin-top: 7vh;
    font-size: 115%;
  }

  .pod-header .ctrl-btn {
    font-size: 65%;
  }


  .terkait-erat li {
    width: 48%;
    margin-right: 2%;
    float: left;
  }
}

@media only screen and (max-width: 800px) {


  .header {
    font-size: 100%;
    margin-bottom: 2rem;
  }

  .mainpod .material {
    margin-right: .35rem;
  }

  .mainpod .material svg {
    margin-right: .2rem;
  }

  .mainpod .current-time,
  .mainpod .duration {
    font-size: 13px;
  }

  .mainpod .judul {
    font-size: 90%;
  }

  .pod-header .ctrl-btn {
    font-size: 60%;
  }

}

@media only screen and (max-width: 600px) {

  .mainpod{
    padding: 10px 20px;
  }

  .mainpod .judul {
    font-size: 86%;
}

  .mainpod .cover {
    --height: 85px;
    --width: 85px;
    --borrad: 7px;
  }

  .mainpod .informasi{
    grid-template-columns: 85px calc(100% - 85px);
  }

  .mainpod .control-box.active {
    padding: 10px 0 5px;
  }

  .terkait-erat li {
    width: 100%;
    float: left;
  }

  .mainpod .material p {
    display: none;
  }

  .pod-header .ctrl-btn {
    font-size: 55%;
  }
}

@media only screen and (max-width: 480px) {

  .mainpod {
    padding: 15px 20px;
  }

  .mainpod .kepengarangan {
    margin-left: .5rem;
  }

  .mainpod .cover {
    --height: 80px;
    --width: 80px;
    --borrad: 7px;
  }

  .mainpod .informasi {
    grid-template-columns: 90px calc(100% - 90px);
  }

  .header {
    margin-top: 6vh;
    margin-bottom: 2rem;
    font-size: 95%;
  }

  .mainpod .episode {
    display: none;
  }

  .mainpod .judul {
    font-size: 90%;
    margin-bottom: 10px;
  }

  .mainpod .tentang {
    font-size: 90%;
  }

  .mainpod .current-time,
  .mainpod .duration {
    font-size: 12px;
  }

  .mainpod .material svg {
    width: 33px;
    height: 33px;
  }

}

@media only screen and (max-width: 360px) {

  .mainpod .informasi {
    grid-template-columns: 75px calc(100% - 75px);
  }

  .mainpod .kepengarangan{
    mainpod .kepengarangan {
      padding-left: 0px;
  }

  .mainpod .tentang {
    font-size: 75%;
  }

  .mainpod .judul {
    font-size: 80%;
    margin-bottom: 5px;
  }

  .mainpod .material svg {
    width: 30px;
    height: 30px;
  }
  
  .mainpod .cover {
    --height: 75px;
    --width: 75px;
    --borrad: 10px;
  }

  .pod-header .ctrl-btn {
    font-size: 50%;
  }
}