{{ define "headerkonten" }}
<div id="pod-header">
	<div class="background">
		<img src="{{.Site.BaseURL}}{{ .Page.Params.Background }}"
			alt="{{- .Title -}}podcast-background" />
	</div>		
	<div class="message">
		<h1>
			{{ .Page.Params.header1 }}
		</h1>
		<h2>
			{{ .Page.Params.header2 }}
		</h2>
		<a href="{{ .Page.Params.headerurl }}" class="">
			{{ .Page.Params.headertexturl }}
		</a>
	</div>
</div>
{{ end }}

{{ define "main" }}
<article id="homepod">
	<section id="podcast-news">
		<h2 class="podcast-category-header"><div class="latar">PER-PODCAST-AN</div></h2>
		<div  class="news">
			<a href="#">
				<figure class="article">
					<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news1.jpg" />
					<figcaption>
						<h3>New Item</h3>
						<p>
							In today’s update, two heads are better than one, and three heads are better than that, as the
							all-new Flockheart’s Gamble Arcana item for Ogre Magi makes its grand debut.
						</p>
					</figcaption>
				</figure>
			</a>
			<a href="#">
				<figure class="article">
					<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news1.jpg" />
					<figcaption>
						<h3>New Item</h3>
						<p>
							In today’s update, two heads are better than one, and three heads are better than that, as the
							all-new Flockheart’s Gamble Arcana item for Ogre Magi makes its grand debut.
						</p>
					</figcaption>
				</figure>
			</a>
			<a href="#">	
			<figure class="article">
				<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news2.png" />
				<figcaption>
					<h3>Update</h3>
					<p>
						Just in time for Lunar New Year and the Rat’s time in the cyclical place of honor, the Treasure of
						Unbound Majesty is now available.
					</p>
				</figcaption>
			</figure>
			</a>
			<a href="#">
			<figure class="article">
				<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news1.jpg" />
				<figcaption>
					<h3>New Item</h3>
					<p>
						In today’s update, two heads are better than one, and three heads are better than that, as the
						all-new Flockheart’s Gamble Arcana item for Ogre Magi makes its grand debut.
					</p>
				</figcaption>
			</figure>
			</a>
			<a href="#">
			<figure class="article">
				<img src="https://mrreiha.keybase.pub/codepen/hover-fx/news2.png" />
				<figcaption>
					<h3>Update</h3>
					<p>
						Just in time for Lunar New Year and the Rat’s time in the cyclical place of honor, the Treasure of
						Unbound Majesty is now available.
					</p>
				</figcaption>
			</figure>
			</a>
		</div>	
	</section>
	<div id="divider">
		<section id="podcast-categories">
			<h2 class="podcast-category-header"><div class="latar">KATEGORI</div></h2>
			<div class="cat-box">
				{{ range .Site.Taxonomies.podcats }}
				<div class="cat-bar">
					<a href="{{.Page.Permalink}}">
						{{ .Page.Title}}
						<div class="count">
							<div class="box">
								<p>{{ .Count }}</p>
							</div>	
							<svg class="icon ic-next" height="25" width="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" ><g id="Right-arrow">	<path d="M29.7070007,17.2929993c-0.3906002-0.3906994-1.0234013-0.3906994-1.4140015,0		c-0.3906994,0.3906002-0.3906994,1.0234013,0,1.4140015L41.5858994,32L28.2929993,45.2929993		c-0.3906994,0.3906021-0.3906994,1.0233994,0,1.4140015C28.4883003,46.9023018,28.7441006,47,29,47		c0.2558002,0,0.5116997-0.0976982,0.7070007-0.2929993l14-14c0.3905983-0.3906021,0.3905983-1.0234013,0-1.4140015		L29.7070007,17.2929993z"/>	<path d="M32,0C14.3268995,0,0,14.3268003,0,32c0,17.6730995,14.3268995,32,32,32s32-14.3269005,32-32		C64,14.3268003,49.6730995,0,32,0z M32,62C15.4579,62,2,48.542099,2,32S15.4579,2,32,2c16.5419998,0,30,13.4579,30,30		S48.5419998,62,32,62z"/></g></svg>
						</div>
					</a>
				</div>
				{{end}}
			</div>  
		</section>
		<section id="all-podcast" class="wrapper">
			{{ range .Pages }}
				<h2 class="podcast-category-header"><div class="latar">{{ .Title }}</div></h2>
				<div class="cards">
				{{ range where .Pages "Params.layout" "selfhost" }}
					<a href="{{ .RelPermalink }}">
						<figure class="podcard">
							<img src="{{ .RelPermalink }}cover/{{ .Page.Params.Cover }}" />
							<figcaption>{{.Title}}</figcaption>
						</figure>
					</a>
				{{end}}
				</div>
			{{ end }}
		</section>
	</div>	
</article>
{{ end }}