{{ define "headerkonten" }}
<div class="pod-header">
	<img class="background" src="../background/{{ .Page.Params.Background }}" alt="{{- .Title -}}podcast-background" />
	<div class="metadata">
		<div class="deskripsi">
			<div class="embed">
				<img class="cover" src="../cover/{{ .Page.Params.Cover }}" alt="{{- .Title -}}podcast-cover" />
			</div>
			<div class="detail">
				<h1 class="judul"> {{- .Title -}} </h1>
				<h2 class="artist"> Creator :
					{{if .Page.Params.author }} 
						{{ .Page.Params.author }} 
					{{else}} 
						{{ .Site.Params.Author }} 
					{{ end }}
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
						{{- .Date.Format "January 2, 2006" -}}
					</time>
				</h2>
				<div class="control">
					<a id="follow" class="ctrl-btn" href="#">
						Ikuti	
					</a>
					<a id="filter" class="ctrl-btn" href="#">
						filter
					</a>
					<a id="filter" class="ctrl-btn" href="#">
						Deskripsi
					</a>	
				</div>
			</div>
		</div>	
	</div>	
</div>	
{{ end }}

{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article id="pod-content">
	<section id="playlist-utama">
		<div class="panel">
		</div>
		<div class="playlist">
			<div class="header"> Semua Episode </div>
		{{- .Content -}}
		</div>
	</section>
	<section id="bilah-samping">
	</section>
</article>
<section id="reaksi-pengguna">
	{{ template "_internal/disqus.html" . }}
</section>
{{ end }}