
{{ if eq .Section "archive" -}}
    {{- $css := resources.Get "css/archive.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "book" -}}
        {{- $css := resources.Get "css/book.css" -}}
        {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "course" -}}
    {{- $css := resources.Get "css/course.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "dataset" -}}
    {{- $css := resources.Get "css/dataset.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "docs" -}}
    {{- $css := resources.Get "css/docs.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "movie" -}}
    {{- $css := resources.Get "css/movie.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "music" -}}
    {{- $css := resources.Get "css/music.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "photo" -}}
    {{- $css := resources.Get "css/photo.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "podcast" -}}
    {{ if eq .Page.Layout "selfhost"}}
        {{- $podcast := resources.Get "css/podcast/selfhost.css" -}}
        {{- $page := $podcast | minify | fingerprint -}}
        <link type="text/css" rel="stylesheet" href="{{ $page.RelPermalink | safeURL}}" integrity="{{ $page.Data.Integrity }}" />
    {{else if eq .Page.Layout "anchorfm" }}
        {{- $podcast := resources.Get "css/podcast/anchorfm.css" -}}
        {{- $page := $podcast | minify | fingerprint -}}
        <link type="text/css" rel="stylesheet" href="{{ $page.RelPermalink | safeURL}}" integrity="{{ $page.Data.Integrity }}" />
    {{else if eq .Page.Layout "main" }}
        {{- $css := resources.Get "css/podcast/mainpage.css" -}}
        {{- $style := $css | minify | fingerprint -}}
        <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
    {{ end }}
{{- else if eq .Section "slide" -}}
    {{- $css := resources.Get "css/slide.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "tools" -}}
    {{- $css := resources.Get "css/tools.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- else if eq .Section "article" -}}
    {{- $css := resources.Get "css/article.css" -}}
    {{- $style := $css | minify | fingerprint -}}
    <link type="text/css" rel="stylesheet" href="{{- $style.RelPermalink | safeURL}}" integrity="{{- $style.Data.Integrity }}" />
{{- end -}}