<div class="kelas-item scale-xs">
    <div class="kategori">
        <h6>Subject</h6>
        <h2>Computer</h2>
        <a href="#">See All >> <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="informasi">
        <div class="kontainer-info">
            <div class="progress"></div>
        </div>
        <h6>Web Programing</h6>
        <h2 class="">Pemograman Web Dasar Yang Keren dan Hebat Sekali</h2>
        <ul class="informasi-kelas">
            <li><span class="jumlah-sesi">9</span> Session</li>
            <li class="level"> Tingkat Pemula </li>
        </ul>
    </div>
</div>
<div class="kelas-item scale-xs">
    <div class="kategori">
        <h6>Subject</h6>
        <h2>Computer</h2>
        <a href="#">See All >><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="informasi">
        <div class="kontainer-info">
            <div class="progress"></div>
        </div>
        <h6>Web Programing</h6>
        <h2 class="">Pemograman Web Dasar Yang Keren dan Hebat Sekali</h2>
        <ul class="informasi-kelas">
            <li><span class="jumlah-sesi">9</span> Session</li>
            <li class="level"> Tingkat Pemula </li>
        </ul>
    </div>
</div>
<div class="kelas-item scale-xs">
    <div class="kategori">
        <h6>Subject</h6>
        <h2>Computer</h2>
        <a href="#">See All >><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="informasi">
        <div class="kontainer-info">
            <div class="progress"></div>
        </div>
        <h6>Web Programing</h6>
        <h2 class="">Pemograman Web Dasar Yang Keren dan Hebat Sekali</h2>
        <ul class="informasi-kelas">
            <li><span class="jumlah-sesi">9</span> Session</li>
            <li class="level"> Tingkat Pemula </li>
        </ul>
    </div>
</div>
<div class="kelas-item scale-xs">
    <div class="kategori">
        <h6>Subject</h6>
        <h2>Computer</h2>
        <a href="#">See All >><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="informasi">
        <div class="kontainer-info">
            <div class="progress"></div>
        </div>
        <h6>Web Programing</h6>
        <h2 class="">Pemograman Web Dasar Yang Keren dan Hebat Sekali</h2>
        <ul class="informasi-kelas">
            <li><span class="jumlah-sesi">9</span> Session</li>
            <li class="level"> Tingkat Pemula </li>
        </ul>
    </div>
</div>
<div class="kelas-item scale-xs">
    <div class="kategori">
        <h6>Subject</h6>
        <h2>Computer</h2>
        <a href="#">See All >><i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="informasi">
        <div class="kontainer-info">
            <div class="progress"></div>
        </div>
        <h6>Web Programing</h6>
        <h2 class="">Pemograman Web Dasar Yang Keren dan Hebat Sekali</h2>
        <ul class="informasi-kelas">
            <li><span class="jumlah-sesi">9</span> Session</li>
            <li class="level"> Tingkat Pemula </li>
        </ul>
    </div>
</div>